In [1]:
import h5py
import numpy as np
import pandas as pd

In [3]:
ey_train = h5py.File("ey_train.h5","r")
print(list(ey_train.keys()))
ey_train = np.array(ey_train.get('d1'))
ey_train.shape
df = pd.DataFrame(ey_train,columns=["anger", "disgust", "fear", "happy", "sad", "surprise"])
print("\nBEFORE PREPROCESSING")
print(df.astype(bool).sum(axis=0))
print((df>3).sum())
df.loc[df["happy"]>3,"happy"] = 3
print("\nAFTER VALUE CLIPPING")
df.describe()

['d1']

BEFORE PREPROCESSING
anger       3443
disgust     2720
fear        1319
happy       8147
sad         3906
surprise    1562
dtype: int64
anger       0
disgust     0
fear        0
happy       1
sad         0
surprise    0
dtype: int64

AFTER VALUE CLIPPING

,anger,disgust,fear,happy,sad,surprise
count,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000
mean,0.165402,0.122913,0.043427,0.475452,0.155853,0.049684
std,0.375969,0.327749,0.157433,0.624495,0.322669,0.172264
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.666667,0.333333,0.000000
max,3.000000,3.000000,1.666667,3.000000,3.000000,3.000000

In [4]:
for i in range(df.shape[0]):
    col = df.iloc[i].idxmax()
    df.loc[i,col]=1
    df.loc[i,df.columns != col] = 0

In [5]:
df

       anger  disgust  fear  happy  sad  surprise
0        0.0      1.0   0.0    0.0  0.0       0.0
1        1.0      0.0   0.0    0.0  0.0       0.0
2        1.0      0.0   0.0    0.0  0.0       0.0
3        1.0      0.0   0.0    0.0  0.0       0.0
4        1.0      0.0   0.0    0.0  0.0       0.0
5        1.0      0.0   0.0    0.0  0.0       0.0
6        1.0      0.0   0.0    0.0  0.0       0.0
7        1.0      0.0   0.0    0.0  0.0       0.0
8        0.0      0.0   0.0    1.0  0.0       0.0
9        0.0      0.0   0.0    1.0  0.0       0.0
10       1.0      0.0   0.0    0.0  0.0       0.0
11       1.0      0.0   0.0    0.0  0.0       0.0
12       0.0      0.0   1.0    0.0  0.0       0.0
13       0.0      0.0   0.0    1.0  0.0       0.0
14       0.0      0.0   0.0    1.0  0.0       0.0
15       0.0      0.0   0.0    1.0  0.0       0.0
16       0.0      0.0   0.0    1.0  0.0       0.0
17       0.0      0.0   0.0    1.0  0.0       0.0
18       0.0      0.0   0.0    1.0  0.0       0.0
19       0.0      0.0   0.0    1.0  0.0       0.0
20       0.0      0.0   0.0    1.0  0.0       0.0
21       0.0      0.0   0.0    1.0  0.0       0.0
22       0.0      0.0   0.0    1.0  0.0       0.0
23       0.0      0.0   0.0    1.0  0.0       0.0
24       0.0      0.0   0.0    1.0  0.0       0.0
25       0.0      0.0   0.0    1.0  0.0       0.0
26       0.0      0.0   0.0    1.0  0.0       0.0
27       1.0      0.0   0.0    0.0  0.0       0.0
28       0.0      0.0   0.0    0.0  1.0       0.0
29       0.0      0.0   0.0    1.0  0.0       0.0
...      ...      ...   ...    ...  ...       ...
15260    0.0      0.0   0.0    1.0  0.0       0.0
15261    0.0      0.0   0.0    1.0  0.0       0.0
15262    0.0      0.0   0.0    1.0  0.0       0.0
15263    1.0      0.0   0.0    0.0  0.0       0.0
15264    1.0      0.0   0.0    0.0  0.0       0.0
15265    0.0      0.0   0.0    1.0  0.0       0.0
15266    0.0      1.0   0.0    0.0  0.0       0.0
15267    0.0      1.0   0.0    0.0  0.0       0.0
15268    0.0      0.0   0.0    1.0  0.0       0.0
15269    1.0      0.0   0.0    0.0  0.0       0.0
15270    0.0      0.0   0.0    1.0  0.0       0.0
15271    0.0      1.0   0.0    0.0  0.0       0.0
15272    0.0      1.0   0.0    0.0  0.0       0.0
15273    0.0      1.0   0.0    0.0  0.0       0.0
15274    0.0      0.0   0.0    1.0  0.0       0.0
15275    0.0      0.0   0.0    1.0  0.0       0.0
15276    0.0      0.0   0.0    1.0  0.0       0.0
15277    0.0      0.0   0.0    1.0  0.0       0.0
15278    0.0      0.0   0.0    1.0  0.0       0.0
15279    0.0      0.0   0.0    1.0  0.0       0.0
15280    0.0      0.0   0.0    1.0  0.0       0.0
15281    0.0      0.0   0.0    1.0  0.0       0.0
15282    0.0      0.0   0.0    0.0  1.0       0.0
15283    0.0      0.0   0.0    0.0  1.0       0.0
15284    0.0      0.0   0.0    0.0  1.0       0.0
15285    0.0      1.0   0.0    0.0  0.0       0.0
15286    0.0      0.0   0.0    0.0  1.0       0.0
15287    0.0      0.0   1.0    0.0  0.0       0.0
15288    1.0      0.0   0.0    0.0  0.0       0.0
15289    0.0      0.0   0.0    1.0  0.0       0.0

[15290 rows x 6 columns]

In [7]:
df.to_csv('y_train_onehot.csv')

In [9]:
ey_test = h5py.File("ey_test.h5","r")
print(list(ey_test.keys()))
ey_test = np.array(ey_test.get('d1'))
print(ey_test.shape)
df = pd.DataFrame(ey_test,columns=["anger", "disgust", "fear", "happy", "sad", "surprise"])
print("\nBEFORE PREPROCESSING")
print(df.astype(bool).sum(axis=0))
print((df>3).sum())
df.loc[df["happy"]>3,"happy"] = 3
print("\nAFTER VALUE CLIPPING")
df.describe()

['d1']
(4832, 6)

BEFORE PREPROCESSING
anger        971
disgust      922
fear         332
happy       2522
sad         1334
surprise     479
dtype: int64
anger       0
disgust     0
fear        0
happy       1
sad         0
surprise    0
dtype: int64

AFTER VALUE CLIPPING

,anger,disgust,fear,happy,sad,surprise
count,4832.000000,4832.000000,4832.000000,4832.000000,4832.000000,4832.000000
mean,0.142453,0.128242,0.033389,0.467577,0.165701,0.046427
std,0.338588,0.326952,0.134754,0.632250,0.316884,0.162014
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.666667,0.333333,0.000000
max,2.333333,3.000000,1.000000,3.000000,2.666667,2.000000

In [10]:
for i in range(df.shape[0]):
    col = df.iloc[i].idxmax()
    df.loc[i,col]=1
    df.loc[i,df.columns != col] = 0

In [11]:
df.to_csv('y_test_onehot.csv')

In [13]:
ey_valid = h5py.File("ey_valid.h5","r")
print(list(ey_valid.keys()))
ey_valid = np.array(ey_valid.get('d1'))
df = pd.DataFrame(ey_valid,columns=["anger", "disgust", "fear", "happy", "sad", "surprise"])
print("\nBEFORE PREPROCESSING")
print(df.astype(bool).sum(axis=0))
print((df>3).sum())
df.loc[df["happy"]>3,"happy"] = 3
print("\nAFTER VALUE CLIPPING")
df.describe()

['d1']

BEFORE PREPROCESSING
anger        427
disgust      352
fear         186
happy       1313
sad          576
surprise     201
dtype: int64
anger       0
disgust     0
fear        0
happy       0
sad         0
surprise    0
dtype: int64

AFTER VALUE CLIPPING

,anger,disgust,fear,happy,sad,surprise
count,2291.000000,2291.000000,2291.000000,2291.000000,2291.000000,2291.000000
mean,0.123381,0.096028,0.040303,0.533392,0.160483,0.043067
std,0.306181,0.271380,0.151574,0.650225,0.355313,0.169733
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.333333,0.000000
max,2.666667,2.666667,1.666667,3.000000,3.000000,2.333333

In [14]:
for i in range(df.shape[0]):
    col = df.iloc[i].idxmax()
    df.loc[i,col]=1
    df.loc[i,df.columns != col] = 0

In [15]:
df.to_csv('y_valid_onehot.csv')